{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MongoClient</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<div class="content">
    <div class="search">
        <div class="search-form">
            <input type="text" placeholder="example: name == 'test' && age > 19" class="search-input" value="">
            <div class="info-div">
                <input type="text" id="host" placeholder="host" class="info-input" value="{{ host }}">
                <input type="text" id="port" placeholder="port" class="info-input" value="{{ port }}">
                <input type="text" id="database" placeholder="database" class="info-input" value="{{ database }}">
                <input type="text" id="username" placeholder="username" autocomplete="off" class="info-input" value="{{ username }}">
                <input type="password" id="password" placeholder="password" autocomplete="off" class="info-input" value="{{ password }}">
                <button class="info-btn save-config">Connect</button>
                <div class="select-div">
                    <select id="key-select">
                        <option value="">choose key</option>
                        {% for key in collection_keys %}
                            <option value="{{ key }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="select-div">
                    <select id="collect-select">
                        <option value="">choose collection</option>
                        {% for collect in collects %}
                            <option value="{{ collect }}"
                                    {% if current_collection and current_collection == collect %}selected{% endif %}>{{ collect }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="table-list">
        <table class="data-list" cellspacing="0" cellpadding="0">
            {% comment %}
            <caption>current -> <span id="current_collection">
                {% if current_collection %}{{ current_collection }}{% endif %}
            </span></caption>
            {% endcomment %}
            <thead>
            <tr>
                {# <th class="th-left">#</th> #}
                <th class="th-center">items <span class="count"></span></th>
                <th class="th-right">operation</th>
            </tr>
            </thead>
            <tbody id="item-list"></tbody>
        </table>
    </div>
    <ul class="pagination">
        <li class="paginate_button previous">
            <button id="prev_page" value="">prev</button>
        </li>
        <li class="paginate_button next">
            <button id="next_page" value="">next</button>
        </li>
    </ul>
</div>
<div class="container">
    <div id="myModel">
        <div class="model-content">
            <span class="model-close">x</span>
            <pre id="json-content"></pre>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>